<div class="jumbotron" style="text-align: left;">
  <h2><%= gettext "Welcome to %{name}!", name: "SGC" %></h2>
  <p class="lead">
    <h3>Your Data</h3>
    <code>
      <pre>
        <%= Poison.encode!(current_user(@conn), pretty: true) %>
      </pre>
    </code>
  </p>
</div>
